.container{
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
}
.newNote{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.newNote:hover{
  filter: brightness(80%);
}
